apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cloudnotes-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-staging
spec:
  ingressClassName: nginx
  rules:
    - host: cloudnotes.143.198.207.43.nip.io # Change this to your desired domain
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: server-nginx
                port:
                  number: 80
          - path: /
            pathType: Prefix
            backend:
              service:
                name: client
                port:
                  number: 80
  tls:
    - hosts:
        - cloudnotes.143.198.207.43.nip.io
      secretName: cloudnotes-tls-secret