apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
        - name: php-fpm
          image: cloudnotes-server
          imagePullPolicy: IfNotPresent
          workingDir: /var/www/html
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "250m"
              memory: "256Mi"
          ports:
            - containerPort: 9000
          envFrom:
            - secretRef:
                name: cloudnotes-env
          volumeMounts:
            - name: laravel-storage
              mountPath: /var/www/html/storage
      volumes:
        - name: laravel-storage
          persistentVolumeClaim:
            claimName: laravel-storage-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: server
spec:
  selector:
    app: server
  ports:
    - port: 9000
      targetPort: 9000
  type: ClusterIP
