apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      initContainers:
        - name: wait-for-mysql
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "⏳ Waiting for MySQL..."
              until nc -z $DB_HOST $DB_PORT; do
                sleep 2
              done
              echo "✅ MySQL is up"
          envFrom:
            - secretRef:
                name: cloudnotes-env
        - name: wait-for-redis
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "⏳ Waiting for Redis..."
              until nc -z $REDIS_HOST $REDIS_PORT; do
                sleep 2
              done
              echo "✅ Redis is up"
          envFrom:
            - secretRef:
                name: cloudnotes-env

      containers:
        - name: php-fpm
          image: cloudnotes-server
          imagePullPolicy: IfNotPresent
          workingDir: /var/www/html
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "250m"
              memory: "256Mi"
          ports:
            - containerPort: 9000
          envFrom:
            - secretRef:
                name: cloudnotes-env
          volumeMounts:
            - name: laravel-storage
              mountPath: /var/www/html/storage
          readinessProbe:
            tcpSocket:
              port: 9000
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 3
          livenessProbe:
            tcpSocket:
              port: 9000
            initialDelaySeconds: 15
            periodSeconds: 10
            failureThreshold: 3
      volumes:
        - name: laravel-storage
          persistentVolumeClaim:
            claimName: laravel-storage-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: server
spec:
  selector:
    app: server
  ports:
    - port: 9000
      targetPort: 9000
  type: ClusterIP