apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-nginx
spec:
  replicas: 1
  selector:
    matchLabels: { app: server-nginx }
  template:
    metadata: { labels: { app: server-nginx } }
    spec:
      containers:
        - name: nginx
          image: nginx:alpine
          ports: [{ containerPort: 80 }]
          resources:
            limits:
              cpu: "250m"
              memory: "128Mi"
            requests:
              cpu: "100m"
              memory: "64Mi"
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
      volumes:
        - name: nginx-conf
          configMap:
            name: server-nginx-conf
---
apiVersion: v1
kind: Service
metadata:
  name: server-nginx
spec:
  selector: { app: server-nginx }
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP
