apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
spec:
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      volumes:
        - name: server-code
          $patch: delete
      containers:
        - name: php-fpm
          volumeMounts:
            - name: server-code
              mountPath: /var/www/html
              $patch: delete
